*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}


body{
    background: url(peakpx.jpg);
    background-size: cover;
    padding: 60px 0;
    height: 100vh;
}


nav{
    position: fixed;
}

.container{
    background-color: #1c1c1c;
    border-radius: 10px;  
}


.navbar{
    padding: 20px 0; 
    background-color: firebrick;
    border-radius: 10px;
      
}

.navbar-brand{
    font-family: 'Fresh Marker', sans-serif;                                            
    font-size: 70px; 
    padding: 20px;  
    color: firebrick;  
    text-decoration: none;
}

.navbar-brand:hover{
    color: firebrick;
}



.sp{
    font-family: 'Graffogie', sans-serif;
    color: whitesmoke;
    font-style: italic;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    margin-right: 30px;
    
}


.nav-link{
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Amsterdam Graffiti', sans-serif;
    color: firebrick;                                                 
}

.nav-link:hover{
    padding: 5px;
    color: firebrick;
}

#prof{
    font-size: 50px;
}

#prof:hover:focus{
    font-size: 35px;
}

nav .menu-btn i{
    color: whitesmoke;
    font-size: 50px;
    margin-right: 10px;
    display: none;
}

#click{
  display: none;
}

section{
   
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 5%;
    font-family: 'Rosign', sans-serif;
}

.borderden{
    height: 3px;
    width: 960px;
    margin: 0 25% 0 25%;
    background-color: whitesmoke;
}

h1{
    font-size: 2.5rem;
    color: whitesmoke;
    text-align: center;
    font-weight: 400;
}

.service{
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-1{
    width: 320px;
    background-color: #1c1c1c;
    padding: 15px;
    margin: 35px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 25%;
}

.service-2{
    margin-left: 15%;
    background-color: firebrick;
}

.img1{
    padding-top: 30px;
}

img{
    height: 200px;
    width: 100%;
}

.description{
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px;
}

h2{
    text-transform: uppercase;
    color: firebrick;
}

.second{
    color: #1c1c1c;
}

p{
    margin-top: 20px;
    color: whitesmoke;
}

.box{
    position: relative;
}

.submit{
    font-family: 'Rosign', sans-serif;
    margin-top: -100px;
    margin-left: 47%;
}

button{
    outline: none;
    color: whitesmoke;
    background-color: firebrick;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

h5{
    margin-top: -20px;
}

i{
    font-size: 22px;
}

a:hover{
    color: firebrick;
}

.a1:hover{
    color: #1c1c1c;
}

@media screen and (max-width: 993px) {
    nav .menu-btn i{
        display: block;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }

    
    
    nav ul{
        position: fixed;
        top: 180px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul{
        left: 0%;
    }

    nav ul li{
        margin: 20px 0;
        display: block;
    }

    nav ul li a{
        font-size: 35px;
    }

    .nav-link:hover{
        padding: 5px;
        color: firebrick;
    }

    section{
        margin-top: 100px;
    }

    .borderden{
        margin-left: 0;
    }

    .service-2{
        margin-left: 25%;
    }
}



@media screen and (max-width:480px){

    .services{
        height: 100%;
    }
  
    .box{
        max-width: 100%;
    }
    
}